RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^home$ index.php [NC,QSA]
RewriteRule ^about$ about.php [NC,QSA]
RewriteRule ^educationCity$ educity.php [NC,QSA]
RewriteRule ^page$ comingsoon.php [NC,QSA]
RewriteRule ^donate$ donate.php [NC,QSA]
